{{- /* Comments area start */ -}}
<!-- Twikoo -->
<div>
    <div id="tcomment"></div>
    <script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.11/dist/twikoo.all.min.js"></script>
    <script>
        twikoo.init({
            envId: 'https://twikoo.une.xzgljiang.com/',  //这里填写自己的envId
            el: "#tcomment",
            lang: 'zh-CN',
            region: 'ap-guangzhou',  //我的区域是广州，可以不填，默认是ap-shanghai
            path: window.TWIKOO_MAGIC_PATH||window.location.pathname,
        });
    </script>
</div>
{{- /* Comments area end */ -}}
